---
http_interactions:
- request:
    method: get
    uri: https://pinecast.com/feed/protean-city-comics
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/rss+xml; charset=utf-8
      Etag:
      - W/"2018-01-31T08:00:53"
      Last-Modified:
      - Wed, 31 Jan 2018 08:00:53 -0000
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <rss xmlns:atom="http://www.w3.org/2005/Atom"
             xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
             xmlns:dc="http://purl.org/dc/elements/1.1/"
             version="2.0">
        <channel>
        <title>Protean City Comics</title>
        <link>https://www.ProteanCity.com</link>
        <atom:link href="https://pinecast.com/feed/protean-city-comics" rel="self" type="application/rss+xml" />
        <generator>Pinecast (https://pinecast.com)</generator>
        <language>en-US</language>
        <copyright>Attribution-NonCommercial-ShareAlike 4.0 International</copyright>
        <itunes:subtitle>Thrilling Tales of Adventure and High School Angst</itunes:subtitle>
        <itunes:author>SHR Network</itunes:author>
        <description><![CDATA[Protean City Comics is a weekly actual play podcast in the Masks: A New Generation game. It follows the lives of teenage super heroes in Protean City as they battle villains, seek to establish themselves as heroes, and struggle to find what kind of person they want to be.]]></description>
        <itunes:owner>
        <itunes:name>SHR Network</itunes:name>
        <itunes:email>james@stophackandroll.com</itunes:email>
        </itunes:owner>
        <itunes:explicit>yes</itunes:explicit>
        <itunes:image href="https://pinecast-storage.s3.amazonaws.com/podcasts/covers/75302506-4523-41a8-8902-da4eb37de0c0/Protean-City-Logo-2000.png" />
        <image>
        <title>Protean City Comics</title>
        <link>https://www.ProteanCity.com</link>
        <url>https://pinecast-storage.s3.amazonaws.com/podcasts/covers/75302506-4523-41a8-8902-da4eb37de0c0/Protean-City-Logo-2000.png</url>
        </image>
        <itunes:category text="Games &amp; Hobbies"><itunes:category text="Hobbies" />
        <itunes:category text="Other Games" /></itunes:category>
        <itunes:category text="Arts"><itunes:category text="Performing Arts" /></itunes:category>
        <item><title>Volume 6 Issue 3 - Click...BOOM</title><description><![CDATA[<h1>Episode Notes</h1>
        <p>In this, the last of of three issues in Volume 6 Blinded by Science we may finally get answers to our questions? What caused Kraken to attack? Who is this strange new villain? Will any of our heroes be able to make ironic finger guns ever again?  </p>
        <p>Introduction voiced by <a href="http://www.peterdegiglio.com">Peter DeGiglio</a><br>
        All music was composed by <a href="https://www.3dreamscreative.com">Jim Malloy</a><br>
        <em>Masks: A New Generation</em> is a game by Brendan Conway and published by Magpie Games</p>
        <p>This podcast is created thanks to the financial support of backers on <a href="http://www.patreon.com/StopHackandRoll">Patreon</a><br>
        Join us at in our <a href="http://www.discord.stophackandroll.com">Discord</a> or follow us on twitter <strong>@ProteanCity</strong><br>
        Subscribe to Protean City Comics on iTunes or anywhere podcasts are found.  </p>
        <p><strong>Join us next Wednesday to find out what thrilling adventures lie ahead!</strong></p>
        <p>Find out more on the <a href="http://proteancity.com">Protean City Comics website</a>.</p>]]></description><link>http://proteancity.com/episode/4557dffd-869e-43d2-8319-900a2595e91c</link><guid isPermaLink="false">https://pinecast.com/guid/4557dffd-869e-43d2-8319-900a2595e91c</guid><pubDate>Wed, 31 Jan 2018 08:00:53 -0000</pubDate><itunes:author>SHR Network</itunes:author><itunes:subtitle>Issue 3...Click...BOOM</itunes:subtitle><itunes:image href="https://pinecast-storage.s3.amazonaws.com/podcasts/covers/75302506-4523-41a8-8902-da4eb37de0c0/Protean-City-Logo-2000.png" /><itunes:duration>00:53:32</itunes:duration>
        <itunes:explicit>yes</itunes:explicit>
        <enclosure url="https://pinecast-storage.s3.amazonaws.com/podcasts/4d6ce7f0-96cc-4dfe-9232-ae04f30cfc78/audio/88bc0851-a18b-43b9-8364-34dc94772e2d/Volume_6_Issue_3_FINAL.mp3?x-source=rss&amp;x-episode=4557dffd-869e-43d2-8319-900a2595e91c" length="51411768" type="audio/mp3" />
        </item>
        <item><title>Volume 6 Issue 2 - Lets Get Kraken</title><description><![CDATA[<h1>Episode Notes</h1>
        <p>This is issue 2 of 3 "Lets Get Kraken" for Volume 6 Blinded by Science. When we last left our heroe[...]
